<section class="solutions">
    <h3>Nos solutions sont parfaites pour</h3>
    <img class="arc" src="{{theme.path}}/assets/img/arc-cercle-solutions.png" alt="">
    <div class="solutions__grid">
        <div class="solutions__grid-1">
            <img src="{{theme.path}}/assets/img/tescontent.png" alt="">
            <p>Dirigeant d’entreprise</p>
            <p>Lorem ipsum dolor amet valem setum dolor vale oler sole batum duneil. Lorem ipsum dolor</p>
        </div>
        <div class="solutions__grid-2">
            <img src="{{theme.path}}/assets/img/tescontent.png" alt="">
            <p>Département marketing</p>
            <p>Lorem ipsum dolor amet valem setum dolor vale oler sole batum duneil. Lorem ipsum dolor</p>
        </div>
        <div class="solutions__grid-3">
            <img src="{{theme.path}}/assets/img/tescontent.png" alt="">
            <p>Département juridique</p>
            <p>Lorem ipsum dolor amet valem setum dolor vale oler sole batum duneil. Lorem ipsum dolor</p>
        </div>
        <div class="solutions__grid-4">
            <img src="{{theme.path}}/assets/img/tescontent.png" alt="">
            <p>Département R&D</p>
            <p>Lorem ipsum dolor amet valem setum dolor vale oler sole batum duneil. Lorem ipsum dolor</p>
        </div>
        <div class="solutions__grid-5">
            <img src="{{theme.path}}/assets/img/tescontent.png" alt="">
            <p>Département études</p>
            <p>Lorem ipsum dolor amet valem setum dolor vale oler sole batum duneil. Lorem ipsum dolor</p>
        </div>
        <div class="solutions__grid-6">
            <img src="{{theme.path}}/assets/img/tescontent.png" alt="">
            <p>Documentaliste</p>
            <p>Lorem ipsum dolor amet valem setum dolor vale oler sole batum duneil. Lorem ipsum dolor</p>
        </div>     

    </div>

</section>